@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Manjari", sans-serif;

  /* Disable any selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2 {
  margin: 15px;
}

.app-container {
  width: 100%;
  background: #fff;
}

.book-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: hidden;
  transition: 0.3s;
}

.book-container:hover {
  background: #fafafa;
}

.book-container.opened {
  background: #fafafa;
}

.book-container__title {
  font-size: 18px;
  font-weight: 700;
}

.book-container__author {
  font-size: 12px;
  color: gray;
}

.book-container__description {
  font-size: 16px;
  color: slategrey;
  margin-top: 10px;
}

.button-container {
  width: 150px;
  background: deepskyblue;
  border: 1px solid blue;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 15px 0;
  transition: 0.3s;
}

.button-container:hover {
  cursor: pointer;
  background: blue;
}

.add-author-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  margin: 5px 10px;
  font-size: 18px;
}
